/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

body {
  font-size: 17px;
}

h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

h1, h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section-title {
  margin-top: 20px;
}

.menu-title {
  margin-bottom: 0;
  font-family: "Shrikhand", cursive;
}

.menu-catagory {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.dish__descr, .card__descr {
  font-weight: 300;
}

.footer a {
  text-decoration: none;
  color: #fff;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__button {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 1.2em;
}

.header-logo {
  width: 200px;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px 20px;
  background-color: #333333;
}
.footer__title {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0.3em 0;
}
.footer__icon {
  margin-right: 1em;
}

.card {
  position: relative;
  margin: 20px 0;
  border-radius: 1rem;
  background-color: white;
}
.card__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: 50% 60%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card__content {
  padding: 10px 0 15px 20px;
}
.card__title {
  margin-bottom: 0.2em;
}

.favorite {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 1.2em;
}
.favorite--active {
  background-image: linear-gradient(#9356DC, #FF79DA);
}

.tag {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0.4em 0.7em;
  border-radius: 0.2rem;
  background-color: #90f0db;
  color: #159f81;
  font-size: 0.8rem;
  font-weight: bold;
}

.dish {
  margin: 20px 0;
  padding: 10px;
  border-radius: 1rem;
  background-color: white;
}

.search-box {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.8);
  background-color: #d9d9d9;
  color: #333333;
}
.search-box__icon {
  padding: 10px;
  color: #333333;
}
.search-box__input {
  font-weight: 500;
}

.top-banner {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
}
.top-banner__title {
  width: 250px;
}
.top-banner__descr {
  color: #333333;
  text-align: center;
}
.top-banner__button {
  margin: 30px 0;
  padding: 1.3em 2em;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.top-banner__button:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.steps, .restaurants {
  padding: 30px 20px;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: justify;
  align-items: center;
  margin: 20px 0 20px 10px;
  padding: 1.5em 0;
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}
.step__num {
  position: relative;
  right: 10px;
  padding: 2px 7px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}
.step__icon {
  margin: 0 20px;
  color: gray;
}
.step__descr {
  font-weight: bold;
}

.step--active {
  background-color: #f2eafb;
}
.step--active__icon {
  color: #9356DC;
}

.restaurants {
  background-color: #f2f2f2;
}

.menu-photo {
  z-index: -1;
}

.menu {
  margin-top: -50px;
  padding: 30px 20px 20px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #f2f2f2;
}
.menu__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.menu-catagory {
  position: relative;
  margin: 10px 0;
}
.menu-catagory:after {
  content: "";
  width: 40px;
  height: 3px;
  background: #90f0db;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.fa-heart {
  margin-right: 10px;
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
