$primary:    #9356DC;
$secondary:  #FF79DA;
$accent:     #99E2D0;

$bg-primary:    #fff;
$bg-secondary:  darken($bg-primary, 5);
$bg-accent:     darken($bg-primary, 15);
$bg-footer:     darken($bg-primary, 80);

$text-primary:   #000;
$text-secondary: #fff;
$text-accent:    lighten($text-primary, 20);
$text-icon:      lighten($text-primary, 50);
