@mixin center($width: 100%) {
    width: $width;
    margin: auto;
}

@mixin flex ($direction:column, $justify: center, $align:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin box-shadow ($inset: false) {
    @if $inset {
        box-shadow: inset 0 7px 9px -7px $mid-gray;
    } @else {
        box-shadow: 0 5px 8px $gray;
    }
}

@mixin button-shadow ($color: $gray) {
    box-shadow: 0 5px 8px $color;
}