$font-family-base:      'Roboto', sans-serif;
$font-family-cursive:   'Shrikhand', cursive;

$font-size-base: 17px;
$h1-font-size: 1.5rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1.2rem;

$light:    300;
$normal:   400;
$medium:   500;
$bold:     700;

body {
    font-size: $font-size-base;
}

.home {
    h1,
    h2,
    h3,
    p,
    ::after {
        font-family: $font-family-base;
    }
    h4 {
        font-family: $font-family-cursive;
    }
    h1 {
        font-size: $h1-font-size;
    }
    h2 {
        font-size: $h2-font-size;
    }
    h3 {
        font-size: $h3-font-size * .9;
    }
    h4 {
        font-size: $h4-font-size;
    }
}


h2.menu-catagory__title {
    font-size: $h2-font-size;
    font-weight: $light;
    text-transform: uppercase;
}