$font-family-base:      'Roboto', sans-serif;
$font-family-cursive:   'Shrikhand', cursive;

$font-size-base: 1rem;

$light:    300;
$normal:   400;
$medium:   500;
$bold:     700;
$xbold:    900;

html {
    font-size: 15px;
}

body {
    font-size:      $font-size-base;
    font-family:    $font-family-base;
    font-weight:    $normal;
}

h1, .h1-font-style {
    margin: 13px 0 8px 0;
    font-family: $font-family-cursive;
    font-size: 1.9rem;
}

h2 {
    font-size: 1.56rem;
    font-weight: $bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: $bold;
}

h4 {
    font-family: $font-family-cursive;
    font-size: 1.1rem;
    color: text-color($bg-secondary-800);
}

%font-weight-bold {
    font-weight: $bold;
}

%font-weight-light {
    font-weight: $light;
}

%text-uppercase {
    text-transform: uppercase;
}

@include tablet-only {
    html {
        font-size: 16px;
    }
}

@include desktop-only {
    html {
        font-size: 17px;
    }
}