@mixin button($hover: false, $width: auto) {
    @if $hover==false {
        width:      $width;
        margin:     $btn-margin;
        padding:    $btn-padding;
        border:     $btn-border;
        border-radius:      $border-radius-lg;
        box-shadow:         $btn-shadow;
        background-image:   $btn-bg;
        color:              $text-secondary;
        font-weight:        $bold;
        cursor: pointer;    
    } @else {
        box-shadow:         $btn-shadow-hover;
        background-image:   $btn-bg-hover;    
    }
}
