$font-family-base:      'Roboto', sans-serif;
$font-family-cursive:   'Shrikhand', cursive;

$font-size-base: 17px;
$home-h1-font-size: 1.5rem;
$home-h2-font-size: 1.5rem;

$light:    300;
$normal:   400;
$medium:   500;
$bold:     700;

body {
    font-size: $font-size-base;
}

h1.title-home,
h2,
h3,
p {
    font-family: $font-family-base;
}

h1.title-menu,
h4 {
    font-family: $font-family-cursive;
}

h1,
h2,
h3 {
    font-weight: $bold;
}

p {
    font-weight: $normal;
}

h1, h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h2.menu-catagory {
    font-size: 1rem;
    font-weight: $light;
    text-transform: uppercase;
}

h4 {
    color: text-color($bg-footer);
}

.dish__descr, .card__descr {
    font-weight: $light;
}

.section-title{
    margin-top: 20px;
}