body {
    font-size: 17px;
}

$light:    300;
$normal:   400;
$medium:   500;
$bold:     700;

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-weight: $bold;
}

p {
    font-weight: $normal;
}
h1, h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section-title{
    margin-top: 20px;
}
.menu-title {
    margin-bottom: 0;
    font-family: 'Shrikhand', cursive;
}
.menu-catagory {
    font-size: 1rem;
    font-weight: $light;
    text-transform: uppercase;
}
.dish__descr, .card__descr {
    font-weight: $light;
}
.footer {
    a {
        text-decoration: none;
        color: text-color($bg-footer);
    }

    &__title {
        font-family: 'Shrikhand', cursive;
        color: text-color($bg-footer);
    }
}
