.btn {
    padding:            1em;
    border:             none;
    border-radius:      $border-radius-lg;
    box-shadow:         0 5px 8px rgba(0, 0, 0, .2);
    background-image:   linear-gradient(to bottom right, $secondary, $primary);
    font-size:          1rem;
    font-weight:        $medium;
    cursor: pointer;
    color:              $text-secondary;
    
    &:hover {
        box-shadow:         0 5px 8px rgba(0, 0, 0, .5);
        background-image:   linear-gradient(to bottom right, lighten($secondary, 5), lighten($primary, 5));   
    }
}

.fa-heart {
    border: none;
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke: 1px black;
    transform: scale(1);
    cursor: pointer;

    &:active, &:hover {
        background-image: linear-gradient($primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        transform: scale(1.1);
    }
}
