.btn {
    padding:            1em;
    border:             none;
    border-radius:      $border-radius-lg;
    box-shadow:         0 5px 8px rgba(0, 0, 0, .2);
    background-image:   linear-gradient(to bottom right, $secondary, $primary);
    color:              $text-secondary;
    font-size:          .9rem;
    font-weight:        $medium;
    cursor: pointer;
    
    &:hover {
        box-shadow:         0 5px 8px rgba(0, 0, 0, .5);
        background-image:   linear-gradient(to bottom right, lighten($secondary, 5), lighten($primary, 5));   
    }
}

@mixin favorite {
    -webkit-text-stroke: 1px black;
    color: transparent;
    transform: scale(1);
    
    &:hover, :active, &--active {
        background-image: linear-gradient($primary, $secondary);
        color: transparent;
        -webkit-text-stroke: 0;
        -webkit-background-clip: text;
        background-clip: text;
        transform: scale(1.1);
        transition: 200ms ease-in-out;
    }
}
