@keyframes reveal {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes select-dish {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.dish {
    @include box-shadow;
    width: 90vw;
    margin: 20px 0;
    padding: 10px;
    border-radius: $border-radius;
    background-color: white;
    animation: reveal 1000ms both 150ms;
    transform: translateY(30px);
    opacity: 0;
    
    @for $i from 1 to 4 {
        &:nth-child(#{$i}) {
            animation-delay: 333ms * ($i - 1) ;
        }
    }

    &__descr {
        font-weight: $light;
    }

    &__price {
        align-self: flex-end
    }
}

.content-wrapper {
    @include flex(true, center, flex-start);
    width: 80%;
    background-color: rosybrown;
}

.dish__add {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background-color: red;
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -50px;
        height: 50px;
        width: 50px;
        background-color: green;
    }
    
    &::after {
        content: '';
        display: block;
        height: 50px;
        width: 50px;
        background-color: blue;
    }
}

.fa-check-circle {
    font-size: $h1-font-size;
    color: text-color(darken($accent, 10));
}

.dish:hover {
    cursor: pointer;
    .fa-check-circle {
        animation: select-dish 200ms forwards;
    }
}
