@keyframes reveal {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes check-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes increase-margin-right {
    to {
        margin-right: 64px;
    }
}

.dish {
    @include box-shadow;
    width: 90vw;
    margin: 20px 0;
    padding: 10px;
    border-radius: $border-radius;
    background-color: white;
    animation: reveal 1000ms both 150ms;
    transform: translateY(30px);
    opacity: 0;
    
    @for $i from 1 to 4 {
        &:nth-child(#{$i}) {
            animation-delay: 333ms * ($i - 1) ;
        }
    }
    
    &__title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__descr {
        @extend .dish__title;
        width: 85%;
        font-weight: $light;
    }

    &__price {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        align-self: flex-end;
        font-weight: $bold;
    }
}

.content-wrapper {
    @include flex(true, center, flex-start);
    position: relative;
    margin-right: 10px;
}

.add-to-cart-container {
    @include flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: darken($accent, 20);
    transform-origin: right;
    transform: scaleX(0);
    opacity: 0;
    transition: linear 300ms;
}

.fa-check-circle {
    font-size: $h1-font-size;
    color: text-color(darken($accent, 20));
    transform: rotate(0);
}

.dish:hover, .dish:active {
    cursor: pointer;
    
    .add-to-cart-container {
        transform: scaleX(1);
        opacity: 1;
    }
    
    .content-wrapper {
        animation: increase-margin-right 300ms forwards;
    }
    
    .fa-check-circle {
        animation: check-spin 300ms forwards 100ms;
    }
}