$spinner-delay: 100ms;
$spinner-duration: $spinner-delay + 2000ms; // Change this to modify spinner duration. Up to 3s by default.

@keyframes hide { 
    to {
        z-index: -1; 
        opacity: 0;
    }
}
@keyframes spin {
    30% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0;
        transform: rotate3d(0, 0, 0, 360deg)  scale(1);
        opacity: 1;
    }
}
@keyframes pulse {
    to {
        transform: scale(1);
        opacity: 1;
    }    
}
.spinner-background {
    @include flex;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bg-primary;
    animation-name: hide;
    animation-delay: $spinner-duration; 
    animation-fill-mode: forwards;
}

// Individual spinner animation is played 4 times by default instead of 'infinite' to save CPU usage.
.spinner {
    @include flex;
    position: relative;

    &__primary, &__secondary {
        position: absolute;
        margin: auto;
        z-index: 2;
        border-radius: 50%;
        opacity: .7;
        animation: spin 1000ms 4 alternate cubic-bezier(0.21, 1, 0.13, 1.01);
    }

    &__primary {
        height: 150px;
        width:  150px;
        border: $primary 2px solid;
        transform: rotate3d(1, 1, 1, 360deg) scale(.5);
    }

    &__secondary {
        height: 110px;
        width:  110px;
        border: $secondary 2px solid;
        transform: rotate3d(-1, -1, 1, 360deg) scale(.5);
        animation-delay: 200ms;
    }
}

.loading-text {
    @include flex;
    height: 150px;
    width:  150px;
    position: absolute;
    margin: auto;
    background-color: transparent;
    font-family: $font-family-cursive;
    animation: pulse 1000ms 4 cubic-bezier(0.21, 1, 0.13, 1.01) alternate;
    transform: scale(.8);
    opacity: .4;
}
