.search-box {
    height: 50px;
    @include flex(row);
    box-shadow: inset 0 7px 9px -7px darken($secondary-bg, 30%);
    background-color: $secondary-bg;
    color: $dark-gray;

    &__icon {
        padding: 10px;
        color: $dark-gray;
    }

    &__input {
        font-weight: $medium;
    }
}

.top-banner {
    height: 300px;
    @include flex;
    padding: 20px;
    background-color: $primary-bg;
    color: text-color($primary-bg);
    text-align: center;

    &__title {
        width: 250px;
    }

    &__descr {
        color: $dark-gray;
        text-align: center;
    }

    &__button {
       @include button;

       &:hover {
        background-image: linear-gradient(to top right, $secondary, $primary);
       }
    }
}