.search-box {
    height: 50px;
    @include flex(row);
    @include box-shadow(inset);
    background-color: $gray;
    color: $dark-gray;

    &__icon {
        padding: 10px;
        color: $dark-gray;
    }

    &__input {
        font-weight: $medium;
    }
}

.top-banner {
    height: 300px;
    @include flex;
    padding: 20px;
    background-color: $light-gray;
    color: text-color($light-gray);
    text-align: center;

    &__title {
        width: 250px;
    }

    &__descr {
        color: $dark-gray;
        text-align: center;
    }

    &__button {
       @include button;

       &:hover {
            @include hover    
        }
    }
}

.steps,
.restaurants {
    padding: 20px;
}

.step {
    @include flex(row, justify, center);
    margin: 20px 0 20px 10px;
    padding: 1.5em 0;
    border-radius: 1.5em;
    @include box-shadow;
    background-color: $light-gray;

    &__num {
        position: relative;
        right: 10px;
        padding: 2px 6px;
        border-radius: 50%;
        background-color: $primary;
        color: text-color($primary);
    }

    &__icon {
        margin: 0 20px;
        color: $mid-gray;
    }

    &__descr {
        font-weight: bold;
    }
}

.step--active {
    background-color: lighten($primary, 35);

    &__icon {
        color: $primary;
    }
}