.search-box {
    @include flex(row);
    @include box-shadow(inset);
    height: 50px;
    background-color: $bg-accent;
    color: $text-accent;

    &__icon {
        padding: 10px;
        color: $text-accent;
    }

    &__input {
        font-weight: $medium;
    }
}

.top-banner {
    @include flex;
    height: 300px;
    padding: 20px;
    background-color: $bg-secondary;
    color: text-color($bg-secondary);
    text-align: center;

    &__title {
        width: 250px;
        margin-bottom: 1em;
    }

    &__descr {
        margin-bottom: 2em;
        color: $text-accent;
        text-align: center;
    }

    &__button {
       @include button;

       &:hover {
            @include button(hover);    
        }
    }
}

.steps {
    @include padding(30px, 20px);
}

.step {
    @include flex(row, justify, center);
    @include box-shadow;
    margin: 20px 0 20px 10px;
    padding: 1.5em 0;
    border-radius: $border-radius;
    background-color: $bg-secondary;

    &__num {
        position: relative;
        right: 10px;
        padding: 2px 7px;
        border-radius: $border-radius-round;
        background-color: $primary;
        color: text-color($primary);
    }

    &__icon {
        margin: 0 20px;
        color: $text-icon;
    }

    &__descr {
        font-weight: bold;
    }
}

.step--active {
    background-color: lighten($primary, 35);

    &__icon {
        color: $primary;
    }
}

.restaurants {
    @extend .steps;
    background-color: $bg-secondary;
}

.section-title{
    margin-top: 20px;
}