.menu-photo {
    z-index: -1;
}

.menu {
    &__content {
        @include flex;
        margin-top: -50px;
        padding: 50px 20px;
        border-top-left-radius: $border-radius-lg;
        border-top-right-radius: $border-radius-lg;
        background-color: $bg-secondary;
    }
    
    &__wrapper {
        background-color: $bg-secondary;
    }
}

.title-wrapper {
    @include flex(row, space-between, center);
    margin-bottom: 1.5em;
}

.menu-title {
    margin-bottom: 0;
}

.menu-catagory {
    margin: 3em 0;

    &__title {
        position: relative;
        margin: 10px 0;
    
        &:after {
            content: '';
            width: 40px;
            height: 3px;
            background: $green;
            position: absolute;
            bottom: -6px;
            left: 0;
          }
    }
}

.fa-heart {
    margin-right: 10px;
    font-size: 1.5rem;
}

.button {
    @include button($width: 13em);
    @include hover(){
        @include button(hover);
    };
}