.menu-photo {
    z-index: -1;
}

.menu {
    margin-top: -50px;
    @include padding(30px 20px);
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    background-color: $gray-light;

    &__top {
        @include flex(row, space-between, center);
        margin-bottom: 1.5em;
    }
}
.menu-catagory {
    position: relative;
    margin: 10px 0;

    &:after {
        content: '';
        width: 40px;
        height: 3px;
        background: $green;
        position: absolute;
        bottom: -6px;
        left: 0;
      }
}
.fa-heart {
    margin-right: 10px;
    font-size: 1.5rem;
}