.home {
    header, main, footer {
    animation-name: display;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    }
    
    @keyframes display {
        to {
            visibility: visible;
        }
    }

    .fa-heart {
        position: absolute;
        bottom: 32px;
        right: 18px;
        font-size: 1.4em;
    }
}

.search-box {
    @include flex(false);
    @include box-shadow(inset);
    height: 50px;
    background-color: $bg-accent;
    color: $text-accent;

    &__icon {
        position: relative;
        right: 20px;
        color: $text-accent;
    }

    &__input {
        font-weight: $medium;
    }
}

.top-banner {
    @include flex;
    height: 270px;
    padding: 0 20px;
    background-color: $bg-secondary;
    color: text-color($bg-secondary);
    text-align: center;

    &__title {
        margin-bottom: .5em;
        padding: 0 20px;
    }

    &__descr {
        margin-bottom: 1.5em;
        color: $text-accent;
        text-align: center;
        font-size: 1.1em;
        font-weight: $light;
    }
    &__btn {
        margin-bottom: 1em;
    }
}

.steps {
    padding: 3em 1.5em;

    &__wrapper {
        margin-bottom: 20px;
    }
}

.step {
    @include flex(false, justify);
    @include box-shadow;
    margin: 20px 0 0 10px;
    padding: 1.5em 0;
    border-radius: $border-radius;
    background-color: $bg-secondary;

    &__num {
        position: relative;
        right: 10px;
        padding: 2px 7px;
        border-radius: $border-radius-round;
        background-color: $primary;
        color: text-color($primary);
    }

    &__icon {
        margin: 0 15px 0 6px;
        font-size: 1.2em;
        color: $text-icon;
    }

    &__descr {
        @extend %font-weight-bold;
    }
}

.step:hover {
    background-color: lighten($primary, 35);

    .step__icon {
        color: $primary;
    }
}

.restaurants {
    @extend .steps;
    background-color: $bg-secondary;
}

.section-title{
    margin-bottom: 1.1em;
}