.home {
    animation-name: display;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
    height: 100vh;
    max-width: 1400px;
    
    @keyframes display {
        to {
            overflow: visible;
            height: auto;
        }       
    }

    .fa-heart {
        position: absolute;
        bottom: 32px;
        right: 18px;
        font-size: 1.4em;
    }
}

.location {
    @include flex(false);
    @include box-shadow(inset);
    height: 50px;
    background-color: $bg-secondary-400;
    color: $text-accent;

    &__icon {
        position: relative;
        right: 20px;
        color: $text-accent;
    }

    &__input {
        font-weight: $medium;
    }
}

.top-banner {
    @include flex;
    height: 270px;
    padding: 0 20px;
    background-color: $bg-secondary-200;
    color: text-color($bg-secondary-200);
    text-align: center;

    &__title {
        margin-bottom: .5em;
        padding: 0 30px;
    }

    &__descr {
        margin-bottom: 1.5em;
        color: $text-accent;
        text-align: center;
        font-size: 1.1em;
        font-weight: $light;
    }
    &__btn {
        margin-bottom: 1em;
    }
}

.steps {
    padding: 3rem 1.5rem;

    &__wrapper {
        margin-bottom: 20px;
    }
}

.step {
    @include flex(false, flex-start);
    @include box-shadow;
    margin: 20px 0 0 10px;
    padding: 1.5em 0;
    border-radius: $border-radius;
    background-color: $bg-secondary-200;

    &__num {
        position: relative;
        right: 10px;
        padding: 2px 7px;
        border-radius: $border-radius-round;
        background-color: $primary;
        color: text-color($primary);
    }

    &__icon {
        margin: 0 15px 0 6px;
        font-size: 1.2em;
        color: $text-icon;
    }

    &__descr {
        @extend %font-weight-bold;
    }
}

.step:hover {
    background-color: lighten($primary, 35);

    .step__icon {
        color: $primary;
    }
}

.restaurants {
    padding: 3rem 1.5rem;
    background-color: $bg-secondary-200;
}

.section-title{
    margin-bottom: 1.1em;
}

@include tablet-only {
    .home {
        main {
            @include flex(true, center, flex-start);
            flex-wrap: wrap;
            height: auto;
            padding: 30px 1.5rem;
        }

        .location,
        .top-banner,
        .steps {
            width: 45vw;
        }

        .location {
            height: 5vh;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            box-shadow: none;
        }
        
        .top-banner {
            height: 35vh;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        .steps {
            @include flex(true, flex-start, stretch);
            position: absolute;
            top: 100.6px;
            right: 1.5rem;
            align-self: flex-end;
            height: 40vh;
            padding: 0;

            &__wrapper {
                margin: 0;
            }
        }

        .restaurants {
            width: 100%;
            margin-top: 2rem;
            padding: 0;
            background-color: $bg-primary;
        }

        .section-title{
            margin-bottom: .5em;
        }
    }
};

@include desktop-only {
    .home {
        margin: 0 auto;

        main {
            @include flex(true, center, flex-start);
            flex-wrap: wrap;
            height: auto;
            padding: 30px 1.5rem;
        }

        .location,
        .top-banner,
        .steps {
            width: 27%;
        }

        .top-banner,
        .steps {
            height: auto;
        }

        .location {
            margin-top: 20px;
        }

        .top-banner {
            padding: 30px 20px;
        }

        .steps {
            position: static;
            top: 0;
            right: 0;
            align-self: unset;
            padding: 30px 20px;
        }

        .restaurants {
            width: 65%;
            position: absolute;
            top: 120.778px;
            margin-top: 0;
            align-self: flex-end;
            max-width: 910px;
        }
    }
}