.menu {
    h2 {
        @extend %text-uppercase;
        @extend %font-weight-light;
        margin: 1em 0 1.5em 0;
        position: relative;
        
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -7px;
            width: 40px;
            height: 3px;
            background: $accent;
        }
    }

    &__container {
        @include flex;
        position: relative;
        margin-top: 200px;
        padding: 10px 1.5rem 80px 1.5rem;
        border-top-left-radius: $border-radius-lg;
        border-top-right-radius: $border-radius-lg;
        background-color: $bg-secondary;
    }

    &__photo {
        position: absolute;
        top: -200px;
        right: 0;
        left: 0;
        z-index: -1;
    }
    
    &__wrapper {
        width: 100%;
        margin-bottom: 20px;
        background-color: $bg-secondary;
    }

    &__btn {
        padding-left:   3em;
        padding-right:  3em;
    }

    .fa-heart {
        margin-right: 10px;
        font-size: 1.5rem;
    }
}

.menu__catagory {
    margin-bottom: 2rem;

    &__title {
        font-size: 1rem
    }
}

.title-wrapper {
    @include flex(false, space-between, center);
} 

@include tablet-only {
    .menu__photo {
        top: -400px;
    }

    .menu__container {
        margin-top: 400px;
    }
}

@include desktop-only {
    .menu {
        h2 {
            margin: 1rem 0;
            left: 1rem;

            &::after {
                right: 110%;
                bottom: 0;
                top: 0;
                width: 6px;
                height: 100%;
            }
        }

        &__container {
            @include flex(false, space-around, flex-start);
            @include box-shadow(true);
            margin-top: 0;
            border-radius: 0;
            background-color: $bg-primary;
        }

        &__wrapper {
            width: auto;
            margin-top: 2rem;
            margin-bottom: 0;
            padding: 1rem 1rem;
            border-radius: $border-radius;
        }

        &__catagory {
            @include flex(true, space-between, flex-start);
            margin-bottom: 0;

        }

        &__photo {
            @include box-shadow(false, .5);
            position: sticky;
            top: 20vh;
            width: 50vw;
            object-fit: cover;
            z-index: 0;
        }

        &__btn {
            position: fixed;
            bottom: 10vh;
            right: 14vw;
        }
    }

    .title-wrapper {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 -.5em;
        padding: 0 1em;
        background-color: $bg-secondary;
        z-index: 1;
    }
}