.menu {
    h2 {
        @extend %text-uppercase;
        @extend %font-weight-light;
        margin: 1em 0 1.5em 0;
        position: relative;
        
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -7px;
            width: 40px;
            height: 3px;
            background: $accent;
        }
    }

    &__content {
        @include flex;
        position: relative;
        margin-top: 200px;
        padding: 10px 20px 80px 20px;
        border-top-left-radius: $border-radius-lg;
        border-top-right-radius: $border-radius-lg;
        background-color: $bg-secondary;
    }

    &__photo {
        position: absolute;
        top: -200px;
        right: 0;
        left: 0;
        z-index: -1;
    }
    
    &__wrapper {
        background-color: $bg-secondary;
        margin-bottom: 20px;
    }

    &__btn {
        padding-left:   3em;
        padding-right:  3em;
    }

    .fa-heart {
        margin-right: 10px;
        font-size: 1.5rem;
    }
}

.menu-catagory {
    margin-bottom: 2rem;

    &__title {
        font-size: 1rem
    }
}

.title-wrapper {
    @include flex(false, space-between, center);
} 