.footer {
    @include flex(true, center, flex-start);
    padding: 20px;
    background-color: $bg-footer;

    a {
        @include flex(false, flex-start, center);
        margin: .5em 0;
        color: text-color($bg-footer);
        font-size: .9em;
        text-decoration: none;
        
        &:nth-child(1), &:nth-child(2) {
            @extend %font-weight-bold;
        }
    }

    &__title {
        margin-bottom: .5em;
    }

    &__icon {
        margin-right: 1em;
    }
}
