.footer {
    @include flex(true, center, flex-start);
    padding: 20px;
    background-color: $bg-footer;

    li {
        margin: .5em 0;
        
        &:nth-child(1), &:nth-child(2)
        {
            font-weight: $medium;
        }
    }

    a {
        @include flex(false, flex-start, center);
        margin: .5em 0;
        color: text-color($bg-footer);
        font-size: .9em;
        text-decoration: none;
    }
    
    &__title {
        margin-bottom: .5em;
    }

    &__icon {
        margin-right: 1em;
    }
}
