.header {
    @include flex;
    background-color: $bg-primary;

    &__button {
        position: absolute;
        left: 25px;
        top: 25px;
        font-size: 1.2em;
    }
}

@include tablet-only {
    .header {
        width: 100%;
        align-items: flex-end;
        padding-right: 1.5rem;
    }
}

@include desktop-only {
    .menu {
        .header {
            align-items: flex-start;

            &__button {
                    display: none;
            }
        }
    }
}