.header {
    @include flex;
    background-color: $bg-primary;

    &__button {
        position: absolute;
        left: 25px;
        top: 25px;
        font-size: 1.2em;
    }
}

@include desktop-only {
    .header {
        padding-top: 1rem;
        padding-bottom: 1rem;

        h1 {
            cursor: default;
        }
        
        &__button {
            display: none;
        } 
    }
}